@model MobileService.ViewModels.Order.DataOrderViewModel
@{
    ViewData["Title"] = "Order Data";
}
<div class="form-background">
    <div class="container" style="padding-bottom: calc(100vh - 430px);">
        <div class=" form-container">
            <h2>Order @Model.OrderNumber</h2>
            <hr />
            <div class="d-flex flex-wrap justify-content-between">
                <div class="w-md-50">
                    <div class="modal-container">
                        <h6 class="modal-row-title">Custemor: </h6>
                        <div class="modal-row-data">@Model.CustomerName</div>
                    </div>
                    <div class="modal-container">
                        <h6 class="modal-row-title">Email: </h6>
                        <div class="modal-row-data">@Model.CustomerEmail</div>
                    </div>
                    <div class="modal-container">
                        <h6 class="modal-row-title">Phone: </h6>
                        <div class="modal-row-data">@Model.CustomerPhoneNumber</div>
                    </div>
                </div>
                <div class="w-md-50">
                    <div class="modal-container">
                        <h6 class="modal-row-title">Device: </h6>
                        <div class="modal-row-data">@Model.Device</div>
                    </div>
                    <div class="modal-container">
                        <h6 class="modal-row-title">Repair: </h6>
                        <div class="modal-row-data">@Model.Repair</div>
                    </div>
                    <div class="modal-container">
                        <h6 class="modal-row-title">Status: </h6>
                        <div class="modal-row-data">@Model.Status</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="modal-row-title w-100">Repair Description: </div>
            <div class="modal-row-data w-100">@Model.RepairDescription</div>
            <hr />
            <a class="btn btn-primary w-100" asp-controller="Order" asp-action="CheckOrder">Check Another Order</a>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}